{% comment %}
    Renders a product form with variants

    Accepts:
    - product: {Object} (required)
   
    Usage:
    {% render 'product-add-to-cart-variants', product: product %}
{% endcomment %}

{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="product-form form-wrapper bg-dark flex-row link-hover {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}

      <product-form class="product-form">
        {%- form 'product', product, data-productid: product.id, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
          <input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ product.selected_or_first_available_variant.id }}" disabled>
          <div class="product-form__buttons">
            <button
              type="submit"
              name="add"
              class="product-form__submit flex-row" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
            >
                <div class="flex-row">
                    <span>
                      {%- if product.selected_or_first_available_variant.available -%}
                        Add to Cart 
                    {%- else -%}
                        Sold out
                    {%- endif -%}
                    </span>
                </div>
                <div class="loading-overlay__spinner hidden">
                  
                </div>
            </button>

          </div>
        {%- endform -%}
    </product-form>

</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
      function isIE() {
        const ua = window.navigator.userAgent;
        const msie = ua.indexOf('MSIE ');
        const trident = ua.indexOf('Trident/');

        return (msie > 0 || trident > 0);
      }

      if (!isIE()) return;
      const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id" data-productid="{{ product.id }}"]');      
      const noScriptInputWrapper = document.createElement('div');
      const variantSwitcher = document.querySelector('variant-selects[data-section="{{ section.id }}"]');
      noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
      variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

      document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
        hiddenInput.value = event.currentTarget.value;
      });
    });
  </script>