{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}


<footer class="footer">
  <div class="footer-grid">
  <div class="footer-navs flex-row flex-wrap">
    {%- if section.blocks.size > 0   -%}
      {%- for block in section.blocks -%}
        <div class="footer-nav-block" {{ block.shopify_attributes }}>
          {%- if block.settings.menu != blank -%}
            <ul class=plain>
              {%- for link in block.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}" class="">
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}
        </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
  <div class="footer-news">
    {%- if section.settings.newsletter_enable -%}
      <div class="footer-block__newsletter">
        {%- if section.settings.newsletter_heading != blank -%}
          <h2>{{ section.settings.newsletter_heading | escape }}</h2>
        {%- endif -%}
        {%- if section.settings.newsletter_body != blank -%}
          <p>{{ section.settings.newsletter_body | escape }}</p>
        {%- endif -%}
        {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="newsletter-form__field-wrapper">
            <div class="field">
              <input
                id="NewsletterForm--{{ section.id }}"
                type="email"
                name="contact[email]"
                class=""
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="ContactFooter-error"
                {% elsif form.posted_successfully? %}
                  aria-describedby="ContactFooter-success"
                {% endif %}
                required
              >
              <label class="field__label visually-hidden" for="NewsletterForm--{{ section.id }}">
                {{ 'newsletter.label' | t }}
              </label>
              <button type="submit" class="btn btn-mono" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                Sign up
              </button>
            </div>
            {%- if form.errors -%}
              <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
            {%- endif -%}
          </div>
          {%- if form.posted_successfully? -%}
            <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
          {%- endif -%}
        {%- endform -%}
      </div>
    {%- endif -%}
    </div>
  <div class="footer-copy flex-row">
    <div>
      <p class="">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</p>
    </div>

    {%- if linklists.footer-4.links != blank -%}
      <ul class="flex-row">
        {%- for link in linklists.footer-4.links -%}
          <li>
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <div>
      <p class="copyright__content"><a href="http://otherlove.co" target="_blank">Made with Otherlove</a></p>
    </div>
  </div>
  <div class="footer-legal">
    {%- if section.settings.footer_disclosure != blank -%}
      <p>{{ section.settings.footer_disclosure }}</p>
    {%- endif -%}
  </div>
  <div class="footer-logo">
    <div class="image-wrapper">
    {%- if settings.logo != blank -%}
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = 274 -%}
      {{ settings.logo | image_url: width: 1405 | image_tag:
        class: 'header__heading-logo',
        widths: '50, 100, 150, 200, 250, 300, 400, 500, 800, 1392',
        height: logo_height,
        width: 1405,
        alt: logo_alt
      }}
    {%- endif -%}
    </div>
  </div>
  </div>
</footer>



{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Be a rainbow body and other perks",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "textarea",
      "id": "newsletter_body",
      "default": "insights / events and happenings / product uses / recipes / resources / new product announcements / insider perks",
      "label": "Body"
    },
    {
      "type": "header",
      "content": "Footer Text"
    },
    {
      "type": "textarea",
      "id": "footer_disclosure",
      "default": "* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease. This product is not for use by or sale to persons under the age of 21.",
      "label": "Disclosure"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
