{{ 'section-header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-header.js' | asset_url }}" defer="defer"></script>

<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

  <header class="header collapsed">

    <div class="header-drawer">
      <div id="menu-drawer" tabindex="-1" class="header-drawer-wrapper">
        <nav class="nav-shop">
          <ul class="plain big-links">
            <li><a href=""/>Shop Online (US)</a></li>
            <li><a href=""/>Order Local (NC)</a></li>
          </ul>
        </nav>
        <nav class="nav-site-desktop">
          <ul role="list" class="plain">
            {%- for link in section.settings.menu.links -%}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
        <nav class="nav-site-mobile">
          <ul role="list" class="plain">
            {%- for link in section.settings.menu-mobile.links -%}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title | escape }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>
    </div>

    <div class="header-grid">
      <div class="header-left">
        <button class="menu-toggle link-hover" aria-label="{{ 'sections.header.menu' | t }}" id="menuToggle">
          <span>
            Menu
          </span>
        </button>
      </div>
      <div class="header-center">
        {%- if request.page_type == 'index' -%}
          <h1 class="header__heading">
        {%- endif -%}
            <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
              {%- if settings.logo != blank -%}
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = 24 -%}
                {{ settings.logo | image_url: width: 126 | image_tag:
                  class: 'header__heading-logo',
                  widths: '50, 100, 150, 200, 250, 300, 400, 500',
                  height: logo_height,
                  width: 126,
                  alt: logo_alt
                }}
              {%- else -%}
                <span class="h2">{{ shop.name }}</span>
              {%- endif -%}
            </a>
        {%- if request.page_type == 'index' -%}
          </h1>
        {%- endif -%}
      </div>
      <div class="header-right"> 
        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
          <span>Basket</span>
          {%- if cart != empty -%}
            <div class="cart-count-bubble">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
              <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
            </div>
          {%- endif -%}
        </a>
      </div>
    </div>
  </header>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu (large screens)"
    },
    {
      "type": "link_list",
      "id": "menu-mobile",
      "default": "main-menu",
      "label": "Menu (small screens)"
    }
  ]
}
{% endschema %}
