{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}


<div class="image-with-text page-width">
  <div class="image-wrapper">
    {%- if section.settings.image != blank -%}
      {%- capture sizes -%}(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2){%- endcapture -%}
      {{ section.settings.image | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        sizes: sizes,
        widths: '165, 360, 535, 750, 1070, 1500'
      }}
    {%- endif -%}
  </div>
  <div class="text-wrapper">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {%- when 'heading' -%}
          <h2 {{ block.shopify_attributes }}>
            {{ block.settings.heading | escape }}
          </h2>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
